 <!-- Page Header Start -->
    <div class="container-fluid page-header py-5 mb-5 wow fadeIn" data-wow-delay="0.1s">
        <div class="container text-center py-5 mt-4">
            <h1 class="display-2 text-white mb-3 animated slideInDown">Chính sách bảo mật</h1>
            <nav aria-label="breadcrumb animated slideInDown">
                <ol class="breadcrumb justify-content-center mb-0">
                    <li class="breadcrumb-item"><a href="/">Trang chủ </a></li>
                    <li class="breadcrumb-item" aria-current="page">Giới thiệu</li>
                </ol>
            </nav>
        </div>
    </div>
 
    
    <!-- Page Header End -->

    <section class="about-star" style="    background-color: #f2f2f2; color:black">
    <div class="container">
        <div class ="blog-single-content">
            <div class="post">
                <div class="post-body">
                    <h2 style="text-align:center"><strong>CH&Iacute;NH S&Aacute;CH BẢO MẬT TH&Ocirc;NG TIN C&Aacute; NH&Acirc;N</strong></h2>

                    <p style="text-align:justify"><strong>1. Mục đ&iacute;ch v&agrave; phạm vi thu thập th&ocirc;ng tin</strong></p>

                    <p style="text-align:justify"><strong>C&ocirc;ng ty TNHH thương mại v&agrave; dịch vụ L&ecirc; Xi</strong>&nbsp;kh&ocirc;ng b&aacute;n, chia sẻ hay trao đổi th&ocirc;ng tin c&aacute; nh&acirc;n của kh&aacute;ch h&agrave;ng thu thập tr&ecirc;n trang web cho một b&ecirc;n thứ ba n&agrave;o kh&aacute;c.</p>

                    <p style="text-align:justify">Th&ocirc;ng tin c&aacute; nh&acirc;n thu thập được sẽ chỉ được sử dụng trong nội bộ c&ocirc;ng ty.</p>

                    <p style="text-align:justify">Khi bạn li&ecirc;n hệ trực tiếp đăng k&yacute; dịch vụ, th&ocirc;ng tin c&aacute; nh&acirc;n m&agrave;&nbsp;<strong>C&ocirc;ng ty TNHH thương mại v&agrave; dịch vụ L&ecirc; Xi</strong>&nbsp;thu thập bao gồm:</p>

                    <p style="text-align:justify">Họ v&agrave; t&ecirc;n; Địa chỉ; Điện thoại; Email; T&ecirc;n đơn vị; vị tr&iacute; c&ocirc;ng t&aacute;c</p>

                    <p style="text-align:justify">Ngo&agrave;i th&ocirc;ng tin c&aacute; nh&acirc;n l&agrave; c&aacute;c th&ocirc;ng tin về dịch vụ cho thu&ecirc; căn hộ cao cấp, cho thu&ecirc; xe&hellip;</p>

                    <p style="text-align:justify"><strong>2. Phạm vi sử dụng th&ocirc;ng tin</strong></p>

                    <p style="text-align:justify">Th&ocirc;ng tin c&aacute; nh&acirc;n thu thập được sẽ chỉ được&nbsp;<strong>C&ocirc;ng ty TNHH thương mại v&agrave; dịch vụ L&ecirc; Xi</strong>&nbsp; sử dụng trong nội bộ c&ocirc;ng ty v&agrave; cho một hoặc tất cả c&aacute;c mục đ&iacute;ch sau đ&acirc;y:</p>

                    <p style="text-align:justify">&Oslash; Hỗ trợ kh&aacute;ch h&agrave;ng</p>

                    <p style="text-align:justify">&Oslash; Cung cấp, tư vấn th&ocirc;ng tin li&ecirc;n quan đến dịch vụ</p>

                    <p style="text-align:justify">&Oslash; Xử l&yacute; y&ecirc;u cầu cung cấp th&ocirc;ng tin về b&aacute;o gi&aacute; sản phẩm, dịch vụ theo y&ecirc;u cầu của Kh&aacute;ch h&agrave;ng qua h&igrave;nh thức li&ecirc;n hệ trực tiếp qua hotline, số m&aacute;y b&agrave;n hoặc qua mail kh&ocirc;ng qua trực tuyến. V&igrave; vậy th&ocirc;ng tin của Kh&aacute;ch h&agrave;ng sẽ được bảo mật ở mức độ cao v&agrave; an to&agrave;n.</p>

                    <p style="text-align:justify">&Oslash; Ngo&agrave;i ra, ch&uacute;ng t&ocirc;i sẽ sử dụng th&ocirc;ng tin bạn cung cấp để hỗ trợ quản l&yacute; t&agrave;i khoản kh&aacute;ch h&agrave;ng; x&aacute;c nhận v&agrave; thực hiện c&aacute;c giao dịch t&agrave;i ch&iacute;nh li&ecirc;n quan của bạn;</p>

                    <p style="text-align:justify"><strong>3. Thời gian lưu trữ th&ocirc;ng tin</strong></p>

                    <p style="text-align:justify">Đối với th&ocirc;ng tin c&aacute; nh&acirc;n,&nbsp;<strong>C&ocirc;ng ty TNHH thương mại v&agrave; dịch vụ L&ecirc; Xi</strong>&nbsp;chỉ x&oacute;a đi dữ liệu n&agrave;y nếu kh&aacute;ch h&agrave;ng c&oacute; y&ecirc;u cầu, kh&aacute;ch h&agrave;ng y&ecirc;u cầu gửi mail về&nbsp;thuydung.lexico@gmail.com</p>

                    <p style="text-align:justify"><strong>4. Địa chỉ của đơn vị thu thập v&agrave; quản l&yacute; th&ocirc;ng tin c&aacute; nh&acirc;n</strong></p>

                    <p style="text-align:justify"><strong>C&Ocirc;NG TY TR&Aacute;CH NHIỆM HỮU HẠN THƯƠNG MẠI V&Agrave; DỊCH VỤ L&Ecirc; XI</strong></p>

                    <p style="text-align:justify"><strong>Địa chỉ:</strong>&nbsp;Số 1/268 B&ugrave;i Thị Từ Nhi&ecirc;n, Tổ d&acirc;n phố&nbsp; Phương Lưu 9, quận Hải An, Th&agrave;nh phố Hải Ph&ograve;ng</p>

                    <p style="text-align:justify"><strong>Hotline:</strong>&nbsp;0906.182.555</p>

                    <p style="text-align:justify"><strong>Website:</strong>&nbsp;<a href="http://quanlychungcuhaiphong.vn/">http://quanlychungcuhaiphong.vn/</a></p>

                    <p style="text-align:justify"><strong>Email:</strong>&nbsp;thuydung.lexico@gmail.com</p>

                    <p style="text-align:justify"><strong>5. Phương tiện v&agrave; c&ocirc;ng cụ để người d&ugrave;ng tiếp cận v&agrave; chỉnh sửa dữ liệu c&aacute; nh&acirc;n của m&igrave;nh</strong></p>

                    <p style="text-align:justify"><strong>C&ocirc;ng ty TNHH thương mại v&agrave; dịch vụ L&ecirc; Xi</strong>&nbsp;kh&ocirc;ng thu thập th&ocirc;ng tin kh&aacute;ch h&agrave;ng qua trang web trực tuyến, th&ocirc;ng tin c&aacute; nh&acirc;n kh&aacute;ch h&agrave;ng được thu thập trực tiếp qua email của ch&uacute;ng t&ocirc;i:&nbsp;<a href="mailto:thuydung.lexico@gmail.com"><strong>thuydung.lexico@gmail.com</strong></a><strong>,&nbsp;</strong>qua số m&aacute;y b&agrave;n&nbsp;<strong>0225 373 6686</strong>, qua số&nbsp;<strong>hotline</strong>&nbsp;li&ecirc;n hệ thu&ecirc; dịch vụ&nbsp;<strong>0906.182.555</strong>&nbsp;hoặc li&ecirc;n hệ trực tiếp tại C&ocirc;ng ty.</p>

                    <p style="text-align:justify">Bạn c&oacute; thể li&ecirc;n hệ địa chỉ email c&ugrave;ng số điện thoại tr&ecirc;n để y&ecirc;u cầu&nbsp;<strong>C&ocirc;ng ty TNHH thương mại v&agrave; dịch vụ L&ecirc; Xi</strong>&nbsp;chỉnh sửa dữ liệu c&aacute; nh&acirc;n của m&igrave;nh.</p>

                    <p style="text-align:justify"><strong>6. Cam kết bảo mật th&ocirc;ng tin c&aacute; nh&acirc;n kh&aacute;ch h&agrave;ng</strong></p>

                    <p style="text-align:justify">Tại&nbsp;<strong>C&ocirc;ng ty TNHH thương mại v&agrave; dịch vụ L&ecirc; Xi</strong>&nbsp;, việc bảo vệ th&ocirc;ng tin c&aacute; nh&acirc;n của bạn l&agrave; rất quan trọng, bạn được đảm bảo rằng th&ocirc;ng tin cung cấp cho ch&uacute;ng t&ocirc;i sẽ được bảo mật.&nbsp;<strong>C&ocirc;ng ty TNHH thương mại v&agrave; dịch vụ L&ecirc; Xi</strong>&nbsp;cam kết kh&ocirc;ng chia sẻ, b&aacute;n hoặc cho thu&ecirc; th&ocirc;ng tin c&aacute; nh&acirc;n của bạn cho bất kỳ người n&agrave;o kh&aacute;c.&nbsp;<strong>C&ocirc;ng ty TNHH thương mại v&agrave; dịch vụ L&ecirc; Xi&nbsp;</strong>cam kết chỉ sử dụng c&aacute;c th&ocirc;ng tin của bạn v&agrave;o c&aacute;c trường hợp sau:</p>

                    <ul>
                        <li style="text-align:justify">N&acirc;ng cao chất lượng dịch vụ d&agrave;nh cho kh&aacute;ch h&agrave;ng</li>
                        <li style="text-align:justify">Giải quyết c&aacute;c tranh chấp, khiếu nại</li>
                        <li style="text-align:justify">Khi cơ quan ph&aacute;p luật c&oacute; y&ecirc;u cầu.</li>
                    </ul>

                    <p style="text-align:justify"><strong>C&ocirc;ng ty TNHH thương mại v&agrave; dịch vụ L&ecirc; Xi</strong>&nbsp;hiểu rằng quyền lợi của bạn trong việc bảo vệ th&ocirc;ng tin c&aacute; nh&acirc;n cũng ch&iacute;nh l&agrave; tr&aacute;ch nhiệm của ch&uacute;ng t&ocirc;i n&ecirc;n trong bất kỳ trường hợp c&oacute; thắc mắc, g&oacute;p &yacute; n&agrave;o li&ecirc;n quan đến ch&iacute;nh s&aacute;ch bảo mật của&nbsp;<strong>C&ocirc;ng ty TNHH thương mại v&agrave; dịch vụ L&ecirc; Xi</strong>&nbsp;, vui l&ograve;ng li&ecirc;n hệ qua số hotline 0906 182 555 hoặc Email:<a href="mailto:%20thuydung.lexico@gmail.com"><strong>&nbsp;thuydung.lexico@gmail.com</strong></a></p>

                    <p style="text-align:justify"><strong>TH&Ocirc;NG TIN CHỦ SỞ HỮU WEBSITE</strong></p>

                    <p style="text-align:justify"><strong>C&Ocirc;NG TY TR&Aacute;CH NHIỆM HỮU HẠN THƯƠNG MẠI V&Agrave; DỊCH VỤ L&Ecirc; XI</strong></p>

                    <p style="text-align:justify"><strong>Người đại diện:</strong>&nbsp;L&ecirc; Thị Th&ugrave;y Dung</p>

                    <p style="text-align:justify"><strong>Địa chỉ:</strong>&nbsp;Số 1/268 B&ugrave;i Thị Từ Nhi&ecirc;n, Tổ d&acirc;n phố&nbsp; Phương Lưu 9, quận Hải An, Th&agrave;nh phố Hải Ph&ograve;ng</p>

                    <p style="text-align:justify"><strong>Giấy ĐKKD:</strong>&nbsp;0201117336 - Ng&agrave;y cấp 27/09/2010, thay đổi đăng k&yacute; lần 05 ng&agrave;y 03/01/2017;&nbsp;Nơi cấp: Tp. Hải Ph&ograve;ng</p>

                    <p style="text-align:justify"><strong>Website:</strong>&nbsp;<a href="http://quanlychungcuhaiphong.vn/">http://quanlychungcuhaiphong.vn/</a></p>

                    <p style="text-align:justify"><strong>Hotline:</strong>&nbsp;0906 182 555</p>

                    <p style="text-align:justify"><strong>Email:&nbsp;</strong>thuydung.lexico@gmail.com</p>

                </div>
            </div>
        </div>
    </div>
</section>