 <!-- Page Header Start -->
    <div class="container-fluid page-header py-5 mb-5 wow fadeIn" data-wow-delay="0.1s">
        <div class="container text-center py-5 mt-4">
            <h1 class="display-2 text-white mb-3 animated slideInDown">Chứng chỉ</h1>
            <nav aria-label="breadcrumb animated slideInDown">
                <ol class="breadcrumb justify-content-center mb-0">
                    <li class="breadcrumb-item"><a href="/">Trang chủ </a></li>
                    <li class="breadcrumb-item" aria-current="page">Giới thiệu</li>
                </ol>
            </nav>
        </div>
    </div>
 
    
    <!-- Page Header End -->

    <section class="about-star" style="    background-color: #f2f2f2;">
    <div class="container" style="font-size:small;">
        <div class ="blog-single-content">
            <div class="post">
                <div class="post-body">
                    <h2 style="text-align:justify"><strong>C&ocirc;ng văn của sở x&acirc;y dựng</strong></h2>

                    <p style="text-align:center"><img alt="" src="/img/Chungchi/cong-van-so-xay-dung.jpg" style="height:991px; width:700px" /></p>

                    <p style="text-align:center"><img alt="" src="/img/Chungchi/cong-van-so-xay-dung-1.jpg" style="height:906px; width:700px" /></p>

                    <h2 style="text-align:justify"><strong>Giấy đăng k&yacute; kinh doanh</strong></h2>

                    <p style="text-align:center"><strong><img alt="" src="/img/Chungchi/dkkd-vn-0.jpg" style="height:991px; width:700px" /></strong></p>

                    <p style="text-align:center"><strong><img alt="" src="/img/Chungchi/dkkd-vn-1.jpg" style="height:991px; width:700px" /></strong></p>

                    <p style="text-align:center"><strong><img alt="" src="/img/Chungchi/1.jpg" style="height:1200px; width:700px" /></strong></p>

                    <p style="text-align:center"><strong><img alt="" src="/img/Chungchi/2.jpg" style="height:1200px; width:700px" /></strong></p>

                    <p style="text-align:center"><strong><img alt="" src="/img/Chungchi/3.jpg" style="height:911px; width:700px" /></strong></p>

                    <p style="text-align:center"><strong><img alt="" src="/img/Chungchi/4.jpg" style="height:911px; width:700px" /></strong></p>

                    <p style="text-align:center"><strong><img alt="" src="/img/Chungchi/5.jpg" style="height:1200px; width:700px" /></strong></p>

                    <p dir="rtl" style="text-align:center"><strong><img alt="" src="/img/Chungchi/6.jpg" style="height:933px; width:700px" /></strong></p>

                    <p style="text-align:center"><strong><img alt="" src="/img/Chungchi/7.jpg" style="height:911px; width:700px" /></strong></p>

                    <h2 style="text-align:justify"><strong>Huấn luyện v&agrave; s&aacute;t hạch kỹ thuật an to&agrave;n điện:&nbsp;</strong></h2>

                    <p style="text-align:center"><strong><img alt="" src="/img/Chungchi/huan-luyen-sat-hach-ky-thuat-dien-1.png" style="height:988px; width:700px" /></strong></p>

                    <p style="text-align:center"><strong><img alt="" src="/img/Chungchi/huan-luyen-sat-hach-ky-thuat-dien-2.png" style="height:988px; width:700px" /></strong></p>

                    <p style="text-align:center"><strong><img alt="" src="/img/Chungchi/huan-luyen-sat-hach-ky-thuat-dien-3.png" style="height:988px; width:700px" /></strong></p>

                    <p style="text-align:center"><strong><img alt="" src="/img/Chungchi/huan-luyen-sat-hach-ky-thuat-dien-4(1).png" style="height:496px; width:700px" /></strong></p>

                    <p style="text-align:center">&nbsp;</p>

                    <p style="text-align:center"><strong><img alt="" src="/img/Chungchi/huan-luyen-sat-hach-ky-thuat-dien-5(1).png" style="height:496px; width:700px" /></strong></p>

                    <h2 style="text-align:justify"><strong>Chứng nhận quản l&yacute; vận h&agrave;nh nh&agrave;&nbsp;chung cư:</strong></h2>

                    <p style="margin-left: 200px; text-align: justify;"><img alt="" src="/img/Chungchi/%C4%90%E1%BA%B7ng%20Th%E1%BB%8B%20Minh.jpg" style="height:645px; width:700px" /></p>

                    <h2 style="margin-left: 200px; text-align: justify;"><img alt="" src="/img/Chungchi/1.jpg" style="height:517px; width:700px" /></h2>

                    <h2 style="margin-left: 200px; text-align: justify;"><img alt="" src="/img/Chungchi/2.jpg" style="height:991px; width:700px" /></h2>

                    <h2 style="text-align:justify"><strong>H&igrave;nh ảnh thẻ nh&acirc;n vi&ecirc;n kỹ thuật Quản l&yacute; chung cư Hải Ph&ograve;ng:</strong></h2>

                    <p style="text-align:center"><strong><img alt="" src="/img/Chungchi/the-an-toan-dien-1.png" style="height:445px; width:700px" /></strong></p>

                    <p style="text-align:center"><strong><img alt="" src="/img/Chungchi/the-an-toan-dien-2.png" style="height:424px; width:700px" /></strong></p>

                    <p style="text-align:center"><strong><img alt="" src="/img/Chungchi/the-an-toan-dien-3.png" style="height:445px; width:700px" /></strong></p>

                    <p style="text-align:center"><strong><img alt="" src="/img/Chungchi/the-an-toan-dien-4.png" style="height:445px; width:700px" /></strong></p>

                    <p style="text-align:center"><strong><img alt="" src="/img/Chungchi/the-an-toan-dien-7.png" style="height:445px; width:700px" /></strong></p>

                    <p style="text-align:center"><strong><img alt="" src="/img/Chungchi/the-an-toan-dien-8.png" style="height:445px; width:700px" /></strong></p>

                    <p style="text-align:center"><img alt="" src="/img/Chungchi/22.png" style="height:445px; width:700px" /></p>

                    <p style="text-align:center">&nbsp;</p>

                    <p style="text-align:center"><img alt="" src="/img/Chungchi/23.png" style="height:445px; width:700px" /></p>

                </div>
            </div>
        </div>
    </div>
</section>