 <!-- Page Header Start -->
    <div class="container-fluid page-header py-5 mb-5 wow fadeIn" data-wow-delay="0.1s">
        <div class="container text-center py-5 mt-4">
            <h1 class="display-2 text-white mb-3 animated slideInDown">Nội quy Website</h1>
            <nav aria-label="breadcrumb animated slideInDown">
                <ol class="breadcrumb justify-content-center mb-0">
                    <li class="breadcrumb-item"><a href="/">Trang chủ </a></li>
                    <li class="breadcrumb-item" aria-current="page">Giới thiệu</li>
                </ol>
            </nav>
        </div>
    </div>
 
    
    <!-- Page Header End -->

<section class="about-star" style="    background-color: #f2f2f2; color:black" >
    <div class="container">
        <div class ="blog-single-content">
            <div class="post">
                <div class="post-body">
                    <h2 style="text-align:center"><strong>QUY ĐỊNH SỬ DỤNG TRANG WEB LEXICO</strong></h2>

                    <p style="text-align:justify"><strong>Điều khoản sử dụng</strong></p>

                    <p style="text-align:justify">Trang Web với t&ecirc;n miền &ldquo;<a href="http://quanlychungcuhaiphong.vn/">http://quanlychungcuhaiphong.vn/</a>&rdquo; l&agrave; t&agrave;i sản của C&ocirc;ng ty TNHH thương mại v&agrave; dịch vụ L&ecirc; Xi (Lexico). Việc truy cập trang Web đồng nghĩa với việc Qu&yacute; kh&aacute;ch đ&atilde; hiểu r&otilde;, ho&agrave;n to&agrave;n đồng &yacute; v&agrave; cam kết thực hiện đ&uacute;ng với c&aacute;c Điều khoản sau đ&acirc;y:</p>

                    <p style="text-align:justify"><strong>1. Nội dung trang web Lexico</strong></p>

                    <p style="text-align:justify">Những nội dung của trang web n&agrave;y l&agrave; to&agrave;n bộ hay l&agrave; một phần như thương hiệu, biểu tượng, h&igrave;nh ảnh, biểu trưng, h&igrave;nh tượng, phần mềm, văn bản v&agrave; những nội dung kh&aacute;c đều l&agrave; t&agrave;i sản của Lexico v&agrave;/hoặc c&aacute;c nội dung th&ocirc;ng tin do Lexico kiểm so&aacute;t.</p>

                    <p style="text-align:justify">Thương hiệu Lexico bao gồm logo 2 h&igrave;nh tam gi&aacute;c, t&ecirc;n gọi, m&agrave;u sắc v&agrave; c&aacute;c nh&atilde;n m&aacute;c dịch vụ được hiển thị tr&ecirc;n Trang Web n&agrave;y của Lexico đ&atilde; được bảo hộ theo quy định của ph&aacute;p luật.</p>

                    <p style="text-align:justify">Với tư c&aacute;ch l&agrave; chủ sở hữu hợp ph&aacute;p c&aacute;c nội dung được hiển thị tr&ecirc;n Trang Web, Lexico c&oacute; to&agrave;n quyền sửa đổi, bổ sung, x&oacute;a bất kỳ nội dung n&agrave;o của Trang Web v&agrave;o bất kỳ thời điểm n&agrave;o m&agrave; kh&ocirc;ng cần th&ocirc;ng b&aacute;o. C&aacute;c nội dung về sản phẩm, dịch vụ hiển thị tr&ecirc;n website của Lexico mang t&iacute;nh chất giới thiệu v&agrave; kh&ocirc;ng mặc nhi&ecirc;n c&oacute; hiệu lực &aacute;p dụng v&agrave;o bất kỳ thời điểm, địa điểm n&agrave;o m&agrave; Qu&yacute; kh&aacute;ch truy cập. Lexico c&oacute; quyền ho&atilde;n, dừng ngừng cung cấp dịch vụ&nbsp; qua website.&nbsp;</p>

                    <p style="text-align:justify">Kh&ocirc;ng ai được thay đổi, xo&aacute;, huỷ, giả mạo, sao ch&eacute;p, tiết lộ, hiển thị, di chuyển tr&aacute;i ph&eacute;p, sử dụng v&igrave; c&aacute;c mục đ&iacute;ch thương mại hay c&ocirc;ng cộng bất kỳ một phần hoặc to&agrave;n bộ những t&agrave;i liệu n&agrave;y m&agrave; nếu kh&ocirc;ng được Lexico chấp thuận trước bằng văn bản. Việc sử dụng n&agrave;y l&agrave; hợp ph&aacute;p nếu đ&aacute;p ứng đầy đủ c&aacute;c ti&ecirc;u ch&iacute; sau:</p>

                    <p style="text-align:justify">- (1) cho ch&iacute;nh mục đ&iacute;ch hợp t&aacute;c kinh doanh với Lexico</p>

                    <p style="text-align:justify">- (2) khi sử dụng phải tr&iacute;ch dẫn nguồn v&agrave; giữ nguy&ecirc;n dường dẫn đến t&agrave;i liệu gốc, giữ nguy&ecirc;n t&iacute;nh to&agrave;n vẹn của th&ocirc;ng tin v&agrave; đảm bảo quyền sở hữu tr&iacute; tuệ của Lexico đối với c&aacute;c t&agrave;i sản tr&iacute; tuệ tr&ecirc;n website n&agrave;y</p>

                    <p style="text-align:justify"><strong>2. Truy cập v&agrave; sử dụng</strong></p>

                    <p style="text-align:justify">Lexico nghi&ecirc;m cấm sử dụng tr&aacute;i ph&eacute;p Trang Web n&agrave;y, bao gồm nhưng kh&ocirc;ng giới hạn, việc truy cập tr&aacute;i ph&eacute;p v&agrave;o Trang Web, d&ugrave;ng sai mật khẩu hoặc sử dụng tr&aacute;i ph&eacute;p bất kỳ th&ocirc;ng tin v&agrave; t&agrave;i liệu n&agrave;o được đăng tải tr&ecirc;n Trang Web. Trong trường hợp ph&aacute;t hiện việc truy cập v&agrave; sử dụng tr&aacute;i ph&eacute;p Trang Web, Lexico c&oacute; thể lập tức chấm dứt thỏa thuận n&agrave;y v&agrave;/hoặc quyền truy cập v&agrave;o Trang Web của Qu&yacute; kh&aacute;ch tại mọi thời điểm m&agrave; kh&ocirc;ng cần th&ocirc;ng b&aacute;o trước v&agrave; y&ecirc;u cầu Qu&yacute; kh&aacute;ch bồi thường thiệt hại (nếu c&oacute;).</p>

                    <p style="text-align:justify"><strong>3. Thư điện tử</strong></p>

                    <p style="text-align:justify">Lexico kh&ocirc;ng bảo đảm rằng c&aacute;c thư điện tử được gửi đến Lexico qua đường Internet sẽ được bảo đảm t&iacute;nh bảo mật. Lexico sẽ kh&ocirc;ng chịu tr&aacute;ch nhiệm đối với bất kỳ thiệt hại n&agrave;o xảy ra với người sử dụng nếu sử dụng thư điện tử kh&ocirc;ng được bảo mật (nếu c&oacute;). Lexico kh&ocirc;ng chịu tr&aacute;ch nhiệm đối với c&aacute;c thiệt hại trực tiếp, gi&aacute;n tiếp, hoặc l&agrave; hậu quả ph&aacute;t sinh từ việc sử dụng Trang Web n&agrave;y kh&ocirc;ng đ&uacute;ng quy định, kh&ocirc;ng đ&uacute;ng hướng dẫn v&agrave;/hoặc kh&ocirc;ng tu&acirc;n thủ c&aacute;c quy định về bảo mật th&ocirc;ng tin.</p>

                    <p style="text-align:justify"><strong>4. Giới hạn tr&aacute;ch nhiệm</strong></p>

                    <p style="text-align:justify">&nbsp;Với những tr&aacute;ch nhiệm theo bất kỳ điều kiện hay bảo đảm n&agrave;o m&agrave; kh&ocirc;ng thể được loại trừ theo quy định của ph&aacute;p luật, sẽ được giới hạn bởi việc Lexico quyết định việc lựa chọn để thay thế, sửa chữa, t&aacute;i cung cấp c&aacute;c sản phẩm, dịch vụ hay thanh to&aacute;n cho c&aacute;c chi ph&iacute; t&aacute;i cung cấp dịch vụ hoặc sửa chữa sản phẩm đ&oacute;.</p>

                    <p style="text-align:justify"><strong>5. Kh&ocirc;ng bảo đảm</strong></p>

                    <p style="text-align:justify">Lexico trong giới hạn được ph&aacute;p luật cho ph&eacute;p, trong bất kỳ trường hợp n&agrave;o, sẽ kh&ocirc;ng chịu tr&aacute;ch nhiệm đối với bất kỳ tổn thất, mất m&aacute;t, thiệt hại n&agrave;o trực tiếp hay gi&aacute;n tiếp ph&aacute;t sinh c&oacute; li&ecirc;n quan đến Trang Web n&agrave;y v&agrave;/hoặc c&aacute;c trang web li&ecirc;n kết kh&aacute;c hay từ việc b&ecirc;n n&agrave;o sử dụng hoặc kh&ocirc;ng sử dụng được Trang Web do lỗi, sai s&oacute;t, gi&aacute;n đoạn, chậm trễ trong hoạt động hay truyền dữ liệu, do virut, lỗi hệ thống hay đường truyền.</p>

                    <p style="text-align:justify">Lexico x&acirc;y dựng c&aacute;c th&ocirc;ng tin v&agrave; c&aacute;c t&agrave;i liệu tr&ecirc;n Trang Web n&agrave;y với sự thận trọng tối đa. Tuy nhi&ecirc;n, Lexico kh&ocirc;ng bảo đảm t&iacute;nh ch&iacute;nh x&aacute;c tuyệt đối, ph&ugrave; hợp v&agrave; đầy đủ của những nội dung đăng tải tr&ecirc;n Trang Web, v&agrave; trong giới hạn được ph&aacute;p luật cho ph&eacute;p, Lexico kh&ocirc;ng chịu tr&aacute;ch nhiệm đối với c&aacute;c lỗi hoặc thiếu s&oacute;t trong c&aacute;c th&ocirc;ng tin v&agrave; t&agrave;i liệu, c&aacute;c bảo đảm kh&ocirc;ng vi phạm quyền, quyền sở hữu của b&ecirc;n thứ ba, hoặc bảo đảm Trang Web kh&ocirc;ng bị nhiễm vir&uacute;t.</p>

                    <p style="text-align:justify">Đối với vấn đề về qu&aacute; tr&igrave;nh truyền t&iacute;n hiệu v&agrave; việc tải th&ocirc;ng tin, Lexico kh&ocirc;ng bảo đảm rằng: c&aacute;c đường truyền dữ liệu kh&ocirc;ng bị chậm, gi&aacute;n đoạn, lỗi, mất t&iacute;n hiệu của đường truyền g&acirc;y ra bởi c&aacute;c thiết bị truyền ph&aacute;t kh&ocirc;ng thuộc sự kiểm so&aacute;t của Lexico, kh&ocirc;ng chứa đựng vir&uacute;t, nhiễm c&aacute;c chương tr&igrave;nh g&acirc;y hại hoặc kh&ocirc;ng c&oacute; tổn thất đối với hệ thống m&aacute;y t&iacute;nh của Qu&yacute; kh&aacute;ch.</p>

                    <p style="text-align:justify">Để việc tải th&ocirc;ng tin được bảo đảm an to&agrave;n, Qu&yacute; kh&aacute;ch c&oacute; tr&aacute;ch nhiệm sử dụng c&aacute;c thiết bị, chương tr&igrave;nh bảo vệ ph&ugrave; hợp v&agrave; thực hiện việc qu&eacute;t virut v&agrave;/hoặc c&aacute;c chương tr&igrave;nh g&acirc;y hại.</p>

                    <p style="text-align:justify"><strong>6. C&aacute;c trang web li&ecirc;n kết</strong></p>

                    <p style="text-align:justify">Lexico kh&ocirc;ng chịu tr&aacute;ch nhiệm về bất cứ th&ocirc;ng tin, t&agrave;i liệu, sản phẩm, dịch vụ v&agrave; nội dung n&agrave;o được đăng tải, cung cấp tại c&aacute;c trang web kh&aacute;c li&ecirc;n kết đến Trang Web n&agrave;y v&agrave; vấn đề an to&agrave;n v&agrave; bảo mật của c&aacute;c trang web đ&oacute;. Khi truy cập, sử dụng những trang web li&ecirc;n kết kh&aacute;c, Qu&yacute; kh&aacute;ch phải tu&acirc;n theo c&aacute;c quy định sử dụng, an to&agrave;n v&agrave; bảo mật của c&aacute;c trang web đ&oacute; v&agrave; tự chịu tr&aacute;ch nhiệm về những tổn thất, thiệt hại cho việc truy cập, sử dụng đ&oacute;.</p>

                    <p style="text-align:justify"><strong>C&ocirc;ng Ty TNHH thương mại v&agrave; dịch vụ L&ecirc; Xi</strong></p>

                    <p style="text-align:justify"><strong>Tr&acirc;n trọng th&ocirc;ng b&aacute;o</strong></p>

                </div>
            </div>
        </div>
    </div>
</section>